body {
    background-color: aquamarine;
}
hr {
    border-style: none;
    border-top-style: dashed;
    border-color: rgb(103, 69, 136);
    border-width: 5px;
    width: 50%;
}
h1{
    color: blueviolet;
}
h3 {
    color: blueviolet;
}
h4{
    color: rgb(36, 59, 128);
}
td{
    color: blue;
}